In [1]:
#PREDICT MOVIE SUCCESS 
#FILTERING RECOMMENDATION SYSTEM
#TREND MOVIES
#PERFORMANCE BEST
#HIT MOVIES

In [9]:
import pandas as pd 
import numpy as np

df_credit = pd.read_csv('tmdb_5000_credits.csv')
df_movies = pd.read_csv('tmdb_5000_movies.csv')


df_credit.rename(columns={'movie_id' : 'id'},inplace = True)
df = df_movies.merge(df_credit, on = 'id')
df.shape

(4803, 23)

In [11]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [13]:
df = df[['id', 'genres', 'title_x', 'overview' , 'cast' , 'crew', 'keywords']]
df.head()

,id,genres,title_x,overview,cast,crew,keywords
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [15]:
df.columns.tolist()

['id', 'genres', 'title_x', 'overview', 'cast', 'crew', 'keywords']

In [17]:
import ast
def convert(obj):
    data = ast.literal_eval(obj)  #CONVERT STRINGS INTO LIST OF DICTS
    names = []
    for item in data:
        names.append(item['name'])  #each time it takes the name and add it to the names list
    return names


df['genres'] = df['genres'].apply(convert)
df['keywords'] = df['keywords'].apply(convert) #to the dataframe
                            
df.head()

,id,genres,title_x,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [18]:
def convert(obj):
    
   data = ast.literal_eval(obj)  #CONVERT STRINGS INTO LIST OF DICTS
   names = []
   for i in data:
       names.append(i['name']) 
       return names
       

df['cast'] = df['cast'].apply(convert)
df.head()

,id,genres,title_x,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...",[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [20]:
def convert(obj):
    
   data = ast.literal_eval(obj)  #CONVERT STRINGS INTO LIST OF DICTS
   names = []
   for i in data:
       names.append(i['name']) 
       return names
       

df['crew'] = df['crew'].apply(convert)
df.head()

,id,genres,title_x,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...",[Sam Worthington],[Stephen E. Rivkin],"[culture clash, future, space war, space colon..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Johnny Depp],[Dariusz Wolski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,[Daniel Craig],[Thomas Newman],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,[Christian Bale],[Hans Zimmer],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...",[Taylor Kitsch],[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [21]:
#CONVERT LIST INTO STRING IN ONE LINE

In [22]:
df['genres'] = df['genres'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")
df['overview'] = df['overview'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")
df['cast'] = df['cast'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")
df['crew'] = df['crew'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")
df['keywords'] = df['keywords'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")

In [24]:
# ISINSTANCE = BEFORE JOINING THIS CHECK IF X REALLY A LIST , ELSE RETURN TO EMPKTY STRING

In [25]:
#CREATING NEW COLUMN

In [26]:
df['tags'] = df['overview'] + " " + df['genres']+ " " +df['cast'] +" " + df['crew']+ " "+df['keywords']

df_final = df[['id', 'title_x', 'tags']]
df_final.rename(columns ={'title_x': 'title'} , inplace = True)

C:\Users\91961\AppData\Local\Temp\ipykernel_33032\4275904026.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns ={'title_x': 'title'} , inplace = True)

In [33]:
# " " TO MAKE SURE WORDS FROM DIFFERENT COLUMNS DONT GET JOINED TOGETHER DIRECTLY.

In [35]:
# COVERT TEXT INTO NUMERIC NUMBERS

In [37]:
#CONTENT BASED RECOM

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
#THIS GIVES SIMILARITY SCORE BETWEEN EVERY PAIR OF MOVIES, IF ANGLE IS SMALL, SIMLARITY IS HIGH AND IF ANGLE IS BIG THEN SIMILARITY IS LOW

In [41]:
tfidf = TfidfVectorizer(max_features=5000, stop_words='english')
vectors = tfidf.fit_transform(df_final['tags']).toarray()
similarity= cosine_similarity(vectors)
#MAX_FEATURES= 5000: USES THE TOP 5000 WORDS ONLY .
#ENGLISH WORDS LIKE THE A IS ETC  
#O AND 1 CHANGE

In [51]:
#DEFINE RECOMMENDATION FUNCTION

In [90]:
def recommend(movies):
    movie = movies.lower() #CONVERTS THE INPUT MOVIE NAME TO LOWERCASE TO ENSURE CASE_INSENSITIVE MATCHING WITH THE DATASET
    if movie not in df_final['title'].str.lower().values :  #CHECK IF LOWERCASE VERSION OF THE MOVIE EXIST IN DF_FINAL['TITLE']
        return "movie not found in database."
    index = df_final[df_final['title'].str.lower() == movie].index[0]
    distances= list(enumerate(similarity[index]))
    distances= sorted(distances, reverse=True, key=lambda x: x[1])[1:6]

    print(f"\n movies similar to{movie.title()}':\n")
    
    for i in distances:
       print(df_final.iloc[i[0]].title)
        #CONVERT LOC(TITLE)

In [92]:
recommend("Avatar")

 movies similar toAvatar':

Alien³
Silent Running
Aliens
Mission to Mars
Space Dogs

In [86]:
print(df_final.columns)

Index(['id', 'title', 'tags'], dtype='object')

In [106]:
df_final

,id,title,tags
0,19995,Avatar,Sam Worthington Stephen E. Rivkin culture cl...
1,285,Pirates of the Caribbean: At World's End,Johnny Depp Dariusz Wolski ocean drug abuse ...
2,206647,Spectre,Daniel Craig Thomas Newman spy based on nove...
3,49026,The Dark Knight Rises,Christian Bale Hans Zimmer dc comics crime f...
4,49529,John Carter,Taylor Kitsch Andrew Stanton based on novel ...
...,...,...,...
4798,9367,El Mariachi,Carlos Gallardo Robert Rodriguez united stat...
4799,72766,Newlyweds,Edward Burns Edward Burns
4800,231617,"Signed, Sealed, Delivered",Eric Mabius Carla Hetland date love at first...
4801,126186,Shanghai Calling,Daniel Henney Daniel Hsia
4802,25975,My Date with Drew,Drew Barrymore Clark Peterson obsession camc...

In [108]:
recommend("john carter")

 movies similar toJohn Carter':

Mission to Mars
Mars Needs Moms
Planet 51
Avatar
Poolhall Junkies